:root {
    --blueViolet: blueviolet;
    --darkBlue: rgb(18, 10, 67);
    --white: #ffffff;
    --grey: grey;
    --SUSE: SUSE;
    --lightGrey: rgba(211, 211, 211, 0.771);
    --fontWeight800: 800;
    --fontWeight700: 700;
    --fontWeight600: 600;
  }

body {
    background-color: var(--blueViolet);
}

.App {
    color: var(--white);
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    font-family: var(--SUSE);
}

/* COMMON PARAMS */
.search_results_container h2, .playlist_card h2, .playlist_creator_container form {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--darkBlue);
    line-height: 55px;
    margin-bottom: auto;
}

.search_res_playlist_creator_wrapper, .playlists_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    text-align: left;
}

button {
    background-color: var(--blueViolet);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: var(--white);
    font-size: 15px;
    font-family: var(--SUSE);
    font-weight: var(--fontWeight600);
}

h2 {
    margin-top: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--darkBlue) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--white) !important;
}

.login_btn, .logout_btn, .search_btn {

    &:hover {
        background-color: var(--blueViolet);
        box-shadow: 0 0 0 2px var(--darkBlue);
    }
    &:active {
        color: var(--darkBlue);
        box-shadow: 0 0 0 4px var(--darkBlue);
    }
}


.playlist_creator_btn, .playlist_exp_btn, .playlist_del_btn {
    
    &:hover {
        background-color: var(--darkBlue);
        box-shadow: 0 0 0 2px var(--blueViolet);
    }
    &:active {
        color: var(--blueViolet);
        box-shadow: 0 0 0 4px var(--blueViolet);
    }
}

/* HEADER */
.logout_btn {
    position: absolute;
    right: 40px;
    top: 25px;
    background-color: var(--darkBlue);
    font-weight: var(--fontWeight800);
}

.app_name_container {
    padding-top: 15px;
}

.app_name_container p {
    margin: 0;
    font-size: 20px;
    font-weight: var(--fontWeight700);
}

/* LOGIN */
.login_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_btn {
    background-color: var(--darkBlue);
    font-weight: var(--fontWeight800);
    /* padding-left: 30px;
    padding-right: 30px; */
    width: 100px;
}

/* SEARCHRBAR */
.search_bar_container {
    margin: 100px;
}

.search_bar_container p {
    font-size: 20px;
}

.search_bar_container input {
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    outline: none;
    font-size: 20px;
}

.search_btn {
    margin-top: 20px;
    background-color: var(--darkBlue);
    font-weight: var(--fontWeight800);
    font-size: 17px;
    width: 130px;
}

/* TRACK */
.tracks_wrapper {
    background-color: var(--darkBlue);
    padding: 20px;
    border-radius: 10px;
    width: 410px;
    height: 450px;
    overflow-y: auto;
}

.track_details_container {
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid var(--grey);
}

.track_name {
    font-weight: var(--fontWeight700);
}

.track_artist, .track_album {
    font-size: 14px;
    font-weight: var(--fontWeight600);
    color: var(--lightGrey);
}

ul.track_details span {
    font-size: 12px;
}

ul.track_details {
    list-style: none;
    padding: 16px 35px 16px 0;
    margin: 0;
}

ul.track_details li:first-child {
    margin-bottom: 10px;
}

.track_details a {
    text-decoration: none;
    color: var(--lightGrey);
}

.track_name a {
    color: var(--white);
}

.track_details a:hover {
    text-decoration: underline;
}

.add_remove_btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--darkBlue);
    font-size: 20px;
    padding: 0;
}

.track_image {
    display: block;
    width: 60px;
    height: auto;
    z-index: 0;
    background-image: url();
}

.audio {
    margin-right: 8px;
}

.pause_btn {
    display: none;
}

.play_btn, .pause_btn {
    padding: 10px 10px;
    height: 60px;
    width: auto;
    border-radius: 0%;
}

.play_btn svg, .pause_btn svg {
    width: 40px;
    height: auto;
    fill: var(--white);
}

.spotigy_logo {
    width: 60px;
    height: auto;
    position: absolute;
    right: 30px;
}

/* PLAYLIST CREATOR */
.playlist_creator_container input {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: var(--darkBlue);
    border: none;
    border-bottom: 3px solid grey;
    outline: none;
    color: var(--white);
    font-size: 20px;
}

.playlist_creator_btn {
    margin-bottom: 15px;
}

.playlist_creator_container input::placeholder {
    color: var(--white);
}

/* PLAYLIST */
.playlists_wrapper {
    display: inline-block;
    margin-top: 50px;
    max-width: 1890px;
}

.playlists_container {
   margin: 0;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.playlists_heading {
    background-color: var(--darkBlue);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 7px 20px;
}

.playlist_btn_container {
    margin-top: 20px;
    position: sticky;
    bottom: 0;
    text-align: center;
}

.playlist_exp_btn {
    margin-right: 5px;
}

.playlist_del_btn {
    margin-left: 5px;
}

/* RESPONSIVE */
/* max-widht 1890px */
@media all and (max-width: 1890px) {

    .playlists_wrapper {
        max-width: 1410px;
    }
}

/* max-widht 1410px */
@media all and (max-width: 1410px) {

    .playlists_wrapper {
        max-width: 930px;
    }
}

/* max-widht 930px */
@media all and (max-width: 930px) {

    .playlists_wrapper {
        max-width: 450px;
    }

    .search_res_playlist_creator_wrapper {
        flex-wrap: wrap;
    }
}

/* max-widht 768px */
@media all and (max-width: 930px) {

    .logout_btn {
        position: static;
        margin-top: 10px;
    }

    .search_bar_container {
        margin: 50px;
    }
}